* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}

html,
body {
    font-family: 'Raleway', sans-serif;
    text-rendering: optimizeLegibility;
}

.App {
  display: flex;
  flex-flow: column;
}

/*Body*/
/*============================*/
/* Images */

.image-created {
  font-size: 0.5rem;
  font-family: 'Reenie Beanie', cursive;
}

.list-of-images {
  max-width: 80vw;
  margin-top: 2rem;
  display: flex;
  align-self: center;
  justify-content: center;
  flex-wrap: wrap;
}

.list-of-1-image {
  height: 60vh;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.background-blur {
  position: absolute;
  content: '';
  height: 68vh;
  width: 120vw;
  filter: opacity(20%) blur(3px);
  z-index: -10;
  /* background image and background-blur size inline style in Daily.js to use image._id */
}

.image-card {
  height: 63vh;
  min-width: 40vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 0.5rem;
  background: white;
  box-shadow: 0px 3px 4px -3px rgba(82,82,82,0.68);
}

.image-src {
  max-height:48vh;
  border: 0.1rem solid #1f1e1e;
  cursor: pointer;
}

.image-title {
  color: #444546;
  /* align-self: baseline; */
  font-size: 0.5rem;
}

.image-description {
  font-size: 0.8rem;
}

