<!DOCTYPE html>
<html>
  <head>
    <title>a</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>q</h1>
    <p>Welcome to q</p>
    <img src="<%= image.image %>" alt="">
  </body>
</html>
