<!DOCTYPE html>
<html>
  <head>
    <title>a</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='icon' type='image/png' href='/images/favicon.png'>
  </head>
  <body>

    <form action "/" method="POST" name='file' multiple enctype="multipart/form-data">
      <input type="file" name="myimage" multiple></input>
      <input type="submit" name="submit" value="submit"></input>
    </form>


  </body>
</html>
